.card{
    border: 1px solid black;
    display: flex;
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 10%;
    background-color: var(--yellow);
}